<div class="my-contacts-container">
    <div class="add-contact-container">
        <p id="sign-up-title">Add Contact</p>
        <form>

            <div class="form-group">
              <label for="email">Email Address</label>
              <input required type="email" formControlName="email" >

            </div>
            <div class="form-group">
              <label for="first-name">First Name</label>
              <input required type="text" formControlName="firstName" >

            </div>
            <div class="form-group">
              <label for="last-name">Last Name</label>
              <input required type="text" formControlName="lastName" >

            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input required type="text" formControlName="phone" >

              </div>
            <button type="submit" id="submit-button">Submit</button>
          </form>
    </div>
    <div class="contacts-list-container">
        Contacts:
    </div>

</div>
