<div class="life-questions-list">
    <p id="page-title">Admin Page</p>
    <div class="service-container">
        <div class="service">
            <p class="card-title">Add Question</p>
            <form [formGroup]="addQuestionForm" (ngSubmit)="onSubmit()">
                <textarea formControlName="question" name="" id="" cols="30" rows="5" style="max-width: 100%;"></textarea>
                <button type="submit" id="answer-button" (click)="onSubmit()">Submit</button>
            </form>
        </div>
        <div class="service">
            <p class="card-title">Edit Question</p>
            <label for="choose-q">Select Question</label>
            <select name="choose-q" id="">
                <option value="">Test</option>
            </select>
            <textarea name="" id="" cols="30" rows="5" style="max-width: 100;"></textarea>
            <button>Submit</button>
        </div>
        <div class="service">
            <p class="card-title">Service Name</p>
        </div>
    </div>
</div>
