<div class="about-container">
    <p id="page-title">About</p>
    <div class="message-container">
        <p>Deep down we all want to leave something behind – the wisdom we gained, the lessons we learned, the moments that shaped us, or a message for the future generations. On the other side, we all want to know where we came from and who we are. This project aims to be an outlet that can streamline the process for developing memoirs in an easy and simplified way using a web application. It will address and attempt to solve several foreseeable challenges inhibiting those wanting to pass something on to family and friends. </p>
    </div>
</div>
