<footer>
    <div class="site-map">
        <div class="logo-container">
            <a href="">Logo</a>
        </div>
        <div class="footer-info">
            <a href="">Contact Us</a>
            <a href="">FAQ</a>
            <a href="">About</a>
            <a href="">Login</a>
            <a href="">Upcoming</a>
        </div>
        <div class="media-links">
            <a href="">icon</a>
            <a href="">icon</a>
            <a href="">icon</a>
        </div>
        <div class="payment-gateway">
            <a href="">Support Us</a>
        </div>
    </div>
    <div class="copyright-container">
        &copy;<p>Cookieright Blue Monster</p>
    </div>

</footer>
