<div class="features-container">
    <p id="features">Features</p>
    <div class="feature-elements">
        <div class="feature-card">
            <p class="card-title" >Question and Answer</p>
            <p>Take a trip down memory lane.</p>
            <p>Answer random questions to help think of memories you may have forgotten.</p>
        </div>
        <div class="feature-card">
            <p class="card-title">Save Images</p>
            <p>Upload images to save, write about them and later and publish them on your timeline!</p>
        </div>
        <div class="feature-card">
            <p class="card-title">Timeline</p>
            <p>In Development</p>
        </div>
        <div class="feature-card">
            <p class="card-title">Incentives</p>
            <p>In Development</p>

        </div>
    </div>
</div>
