main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    border: solid #444 3px;
    border-radius: 10px;
    width: 70%;
    margin: 10vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    transition: .2s;

}

.form-container:hover {
    border: solid #222 3px;
    box-shadow: 5px 10px 8px 4px #444;
    transform: translate(-.3vw, -.2vw);
    transition-timing-function: ease-out;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {

    display: flex;
    flex-direction: column;
    padding: 1vh;
    width: 80%;
    align-self: center;
}

label {
    color: #333;
    font-weight: 700;
    font-size: 1.3rem;
}

input {
    border-radius: 4px;
    height: 4vh;
    font-size: 1.1rem;
    color: #333;
}

#sign-up-title {
    font-size: 2em;
    align-self: center;
    padding: 2vh;
    font-weight: 600;
    color: #333;
}

button {
    margin: 1vh 1vh 1vh 0vh;
    padding: .5vh 1vw .5vh 1vw;
    background-color: rgb(237, 253, 220);
    border-radius: 4px;
    align-self: flex-start;
    color: #333;
    font-size: 1.2rem;
}

#submit-button {
    margin: 2vh;
    padding: 2vh;
    border: solid 3px #333;
    background-color: rgb(237, 253, 220);
    border-radius: 8px;
    align-self: center;
    color: #333;
}
